.home .hero img{
    border-radius: 10px;
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    border: 1px solid #c5c5c5;
}
::-webkit-scrollbar-thumb {
    background: #858585;
    border-radius: 10px;
}